---

interface Props {
    title: string;    
}

const {title} = Astro.props
---

<dialog id="searchMenu" popover class="bg-white modal-box modal-blur modal-bottom mb-0 w-full sm:w-2/3 sm:m-auto">
    <div class="text-2xl font-extrabold">{title}</div>
    <h1>hello world</h1>
    <h1>hello world</h1>
    <h1>hello world</h1>
    <h1>hello world</h1>
    <h1>hello world</h1>
</dialog>
